@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap");
:root {
  --white:#ffffff;
  --darkgrey:#747682;
  --mediumlightgrey:#707176;
  --darkgreen:#24535f;
  --black:#000000;
  --bluishblack:#242A31;
  --cream:#F2E9E2;
}

* {
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
}
body .card-container {
  overflow: hidden;
  z-index: 0;
  background-color: var(--white);
  border-radius: 10px;
  /*display: grid;
  grid-template-columns: repeat(1, 1fr);*/
  width: 280px;
  height: 85%;
  margin: 30px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 2px 8px 16px 6px rgba(0, 0, 0, 0.44);
}
body .card-container .cart {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .card-container .cart .button {
  width: 100%;
  cursor: pointer;
  align-items: center;
  background-color: var(--darkgreen);
  border-radius: 8px;
  border: none;
  height: 50px;
  margin-top: 16px;
  max-width: 200px;
}
body .card-container .cart .button .button-pd .text {
  margin-bottom: 0;
  font-size: 1.2em;
  color: var(--white);
  font-weight: 500;
}
body .card-container .image-content {
  transition: 0.5s ease;
  display: grid;
  justify-content: center;
}
body .card-container .image-content img {
  width: 200px;
}
body .card-container .full-content {
  transition: 0.5s ease;
  margin: 30px 20px;
  max-width: 200px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
body .card-container .full-content .top-content .brand {
  color: var(--mediumlightgrey);
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
body .card-container .full-content .top-content .title {
  color: var(--bluishblack);
  font-size: 2.5em;
  font-weight: 800;
  font-family: "Fraunces", serif;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .card-container .full-content .paragraph .text {
  color: var(--darkgrey);
  font-size: 1em;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 30px;
  margin-right: 40px;
}
body .card-container .full-content .amount {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 8px;
}
body .card-container .full-content .amount .correct-val .text {
  color: var(--darkgreen);
  font-size: 2.5em;
  font-weight: 800;
  font-family: "Fraunces", serif;
}
body .card-container .full-content .amount .strikethrough-val .text {
  color: var(--mediumlightgrey);
  text-decoration: line-through;
}
body .card-container:hover .image-content, body .card-container:hover .full-content {
  opacity: 0.3;
}
body .card-container:hover .cart {
  cursor: pointer;
  opacity: 1;
  z-index: 20;
}

.rangeValue {
  position: relative;
  width: 100%;
}

.rangeValueSpan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  line-height: 55px;
  height: 50px;
  width: 50px;
  top: -30px;
  color: white;
  z-index: 5;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.rangeValueSpan:after {
  position: absolute;
  background: rgba(28, 67, 77, 0.631372549);
  content: "";
  height: 50px;
  width: 50px;
  transform: translateX(-50%) rotate(45deg);
  line-height: 55px;
  left: 50%;
  top: 8%;
  border: 3px solid white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.show {
  transform: translateX(-50%) scale(1);
}

/*
.correct-val p{
    color: var(--darkgreen);
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Fraunces', serif;
}*//*# sourceMappingURL=products.css.map */