#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    .box {
        position: relative;
        width: 60rem;
        height: 40rem;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
        @keyframes animate {
            0% {
                transform: perspective(100rem) rotateY(0deg);
            }
            100% {
                transform: perspective(100rem) rotateY(360deg);
            }
        }

        span {
            border: 0.1rem solid white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-origin: center;
            transform-style: preserve-3d;
            transform: rotateY(calc(var(--i) * 120deg)) translateZ(40rem);
            -webkit-box-reflect: below 0.5rem linear-gradient(transparent, transparent, #0004);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                //object-fit: cover;
            }
        }
    }
}