@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

img {
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/ROP/admin_site/media/wp2508260.jpg");
    padding: 30px 50px 0 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    margin-bottom: 30px;

    h1 {
        color: white;
        font-family: 'Satisfy';
        font-size: 7vh;
    }
    .right{
        display: grid;
        justify-content: end;
        .nav-i {
            display: grid;
            grid-template-columns: repeat(3, auto);
            align-items: center;
            gap: 50px;
            
            @media(max-width: 775px){
                grid-template-columns: none;
                gap: 20px;
            }

            .new-product {}
            .orders {
                text-align: center;
                color: rgba(235, 165, 68, 0.93);
                border-color: rgba(235, 165, 68, 0.93);
                &:hover {
                    background:rgba(235, 165, 68, 0.93);
                    color: white;
                }
            }
            form {
                text-align: center;
                .log-out {}
            }
        }
    }

    @media(max-width: 450px){
        grid-template-columns: none;
        .right {
            justify-content: start;
        }
    }
}
.table {
    background: white;
    border-radius: 10px;
}

.btn {
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        transform: scale(1.1) ;
    }
}
.table {
    overflow: hidden;
}

@media(max-width: 680px){
	thead{
		display: none;
	}

    table, tbody, tr,  td{
		display: block;
		width: 100%;
	}
	tr{
		margin-bottom:15px;
	}
	td{
		text-align: right;
		padding-left: 50%;
		
		position: relative;
	}
	td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}