body {
    padding: 20px;
}
img {
    height: 80px;
}
.form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 300px;
    gap: 50px;
    margin-bottom: 20px;
    @media(max-width: 346px){
        gap: 20px;
        width: 280px;
    }
}